.introduction {
  color: white;
  padding: 20px;

  p {
    font-family: $fonts;
    font-size: 17px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    text-align: center;
  }
}

.even-tile {
  background-color: $purple;
}

.odd-tile {
  background-color: $blue;
}

.container {
  padding: 20px 2px;

  h1 {
    text-align: center;
  }
}

.container-body {
  margin: 0 auto;
  max-width: 940px;
  position: relative;
}

.left {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
}

.right {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.paper {
  margin: 0 auto 20px auto;
  padding: 6px 5px 4px 42px;
  position: relative;
  color: $grey;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(#d9eaf3),
      color-stop(4%, #fff)
    )
    0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(to top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  width: 85%;

  h2 {
    font: 500 48px/0.8 $paper-fonts;
    margin: 24px 0 0 0;
    text-align: center;
  }

  h3 {
    font: 500 30px/0.8 $paper-fonts;
    margin: 14px 0 19px 0;
    text-align: center;
  }

  p {
    font: 100 25px/0.8 $paper-fonts;
    margin: 0 0 20px 0;
    text-align: left;
  }
}

.paper::before {
  content: "";
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

.story-board {
  color: $white;
  display: inline-block;
  margin: 0 auto 20px auto;
  width: 85%;

  p {
    font-size: 16px;
    font-style: italic;
  }

  img {
    border: solid;
    border-color: $grey;
    display: inline-block;
    position: relative;
    width: 100%;
  }
}

.summary {
  color: white;
  padding: 20px;
  text-align: center;

  p {
    font-family: $fonts;
    font-size: 17px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    text-align: justify;
  }
}

.references {
  color: white;
  padding: 20px;
  text-align: center;

  ol {
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    text-align: left;
  }

  li {
    font-size: 17px;
    margin: 3px 0;
  }
}

@media screen and (min-width: 600px) {
  .story-board img {
    margin: 0 1.25% 1.25% 1.25%;
    width: 45%;
  }
}
@media screen and (min-width: 900px) {
  .container {
    padding: 20px;
  }
  .left,
  .right {
    width: 47.5%;
  }
  .right {
    margin: 0 0 0 5%;
  }
  .paper {
    min-height: 938px;
    width: 100%;
  }
  .story-board img {
    width: 100%;
  }
}
