.header {
	color: $grey;
	height: 100px;
	text-align: center;

	h1 {
		padding: 16px 0 0 0;
		margin: 0;
		font-size: 30px;
	}

	h2 {
		font-size: 18px;
	}

	img {
		display: none;
		height: 50px;
	}
}

@media screen and (min-width: 340px) {
	.header {
		padding-left: 5%;

		h1 {
			padding: 12px 0 0 0;
			font-size: 36px;
		}

		h2 {
			font-size: 18px;
		}
	}
}
@media screen and (min-width: 500px) {
	.header {
		h1 {
			padding: 2px 0 0 0;
			font-size: 48px;
		}
		h2 {
			font-size: 24px;
		}
	}
}
@media screen and (min-width: 680px) {
	.header {
		text-align: left;

		img {
			display: inline-block;
			right: 5%;
			position: absolute;
			top: 20px;
		}
	}
}
