.menu {
	background-color: $grey;
	left: 0;
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 2;

	.vertical {
		background: $grey;
		height: 100vh;
		left: -100px;
		max-height: 100vh;
		overflow: auto;
		padding-top: 10px;
		position: absolute;
		top: 45px;
		width: 100px;
		z-index: 2;
	}

	a {
		margin-top: 3px;
	}
}

.menu-fixed {
	position: fixed;
	top: 0;
}

.menu-options {
	background-color: $grey;
	color: $white;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.menu-link {
	cursor: pointer;
	display: inline-block;
	padding: 5px 20px;
}

.burger-menu {
	cursor: pointer;
	display: inline-block;
	margin: 5px 0 5px 20px;
}

.burger-menu-component-1,
.burger-menu-component-2,
.burger-menu-component-3 {
	background-color: $white;
	margin: 5px 0;
	height: 4px;
	transition: 0.4s;
	width: 30px;
}

.change {
	.burger-menu-component-1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.burger-menu-component-2 {
		opacity: 0;
	}

	.burger-menu-component-3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}

	.vertical {
		left: 0;
		transition: all 0.4s ease;
	}
}

.scroll-line{
  height: 2px;
  margin-bottom: -2px;
  background: $white;
  position: absolute;
  width: 50%;
  z-index: 5;
}

@media screen and (min-width: 600px) {
	.menu {
		text-align: center;

		a {
			margin-top: 0;
		}
	}
	.menu-options {
		margin: 0 auto;
		padding: 20px;
	}
	.burger-menu-bar {
		display: none;
	}
}
@media screen and (min-width: 880px) {
	.menu-link {
		padding: 0 20px;
	}
}
