//FONTS
$fonts: 'Helvetica Neue', Helvetica, arial, sans-serif;
$paper-fonts: 'Kalam', 'Helvetica Neue', Helvetica, sans-serif;

//COLOURS
$white: #fff;
$slate: rgb(80,86,94);
$grey: rgb(72,69,66);
$blue: rgb(9,70,133);
$green: rgb(130,154,52);
$purple: rgb(85,39,119);
$light-blue: rgb(59,147,166);
$red: rgb(136,62,40);
